<main class="background">
    <div class="h-screen p-2 mx-auto max-w-screen-2xl md:p-6 2xl:p-10">
      
      <app-login-register [namePage]="'Login Page'" [link]="'/login'"></app-login-register>

      <!-- ====== Forms Section Start -->
      <div class="bg-transparent rounded-md lg:rounded-2xl shadow-default">
        <div class="flex flex-wrap items-center">

          <div class="w-full xl:w-1/2 bg-[#1a5a64] rounded-md lg:rounded-2xl">
            <div class="w-full p-4 sm:p-12.5 xl:p-17.5">
                <h2 class="mt-2.5 text-2xl font-bold text-white mb-2.5">
                    Welcome Back to PromoTourism!
                  </h2>
                

                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                    <div class="user-type-selection">
                      <label>
                        <input type="radio" formControlName="userType" value="customer" checked> Customer
                      </label>&nbsp;
                      <label>
                        <input type="radio" formControlName="userType" value="merchant"> Merchant
                      </label>
                    </div>
                  
                      <app-form-control-input label="Email" [type]="'email'" [placeholder]="'Enter your email'" [controlName]="'email'" [currentFormGroup]="loginForm"></app-form-control-input>
                      <app-form-control-input label="Password" [type]="'password'" [placeholder]="'6+ Characters, 1 Capital letter'" [controlName]="'password'" [currentFormGroup]="loginForm"></app-form-control-input>

                      <ng-container *ngIf="!loginForm.valid; else validForm">
                        <!-- Display this content if the form is not valid -->
                        <div class="w-full mb-5">
                          <button type="submit" [disabled]="loginForm.valid"
                            class="w-full p-4 font-medium text-gray-300 transition bg-gray-500 border rounded-lg cursor-not-allowed border-primary hover:bg-opacity-90">
                            Login Now
                          </button>
                        </div>
                      </ng-container>
                    
                      <!-- This content will be displayed if the form is valid -->
                      <ng-template #validForm>
                        <div class="w-full mb-5">
                          <button type="submit"
                            class="w-full p-4 font-medium text-gray-900 transition border rounded-lg cursor-pointer border-primary bg-[#fc972e] hover:bg-opacity-90">
                            Login Now
                          </button>
                        </div>
                      </ng-template>
                    
                  
                    <!-- Sign Up Link -->
                    <div class="mt-6 text-center">
                      <p class="font-medium text-white">
                        Don’t have any account?
                        <a href="/register" class="text-[#fc972e]">Sign Up</a>
                      </p>
                    </div>
                  </form>
            </div>
          </div>
        </div>
      </div>
      <!-- ====== Forms Section End -->
      
    </div>
</main>
