.background{
    background-image: url('../../../assets/images/pexels-zukiman-mohamad-22804.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover 100vh;
}