<nav class="sticky top-0 z-50 w-screen py-3 text-gray-900 bg-white shadow-lg">
    <div class="container px-8 mx-auto">
    
      <div class="flex items-center justify-between">
        <div class="py-3 ">
          <a href="/">
            <span class="font-bold text-[#fc972e]">Ministry</span>
            <span class="font-bold text-[#1a5a64]">Dashboard</span>
          </a>
        </div>
  
        <div class="items-center hidden space-x-5 md:flex">
          <a class="nav-links" >Manage Approvals</a>
        </div>
        
        <div class="flex flex-row gap-4">
  
          <div class="items-center hidden md:flex">
            <a href="/" class="signout-button">Sign Out</a>
          </div>
        </div>
        
  
        <div class="flex items-center space-x-2 md:hidden">

          <!-- mobile thing goes here -->
          <button class="mobile-menu-button" type="button" (click)="toggleNavbar()">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  
    <!-- Mobile Menu  -->
    <div [ngClass]="{'show': showMenu}" class="mobile-menu">
      <div class="nav-container">
        <div class="nav-section font-bold text-white bg-[#1a5a64] rounded-3xl">
            <a class="nav-links" >Manage Approvals</a>
        </div>
    
        <div class="my-5 nav-section">
          <a href="/" class="signout-button">Sign Out</a>
        </div>
      </div>
    </div>
  </nav>

