<div *ngIf="product.available" class="card-container">

  <div class="image-container">
    <img [src]="'../../../assets/images/' + product.image" [alt]="product.title" class="image">
  </div>
  <div class="content-container">
    <span class="category"><strong>
      {{ product.category }}</strong>
    </span>
    <h3 class="title">
      {{ product.title }}
    </h3>
    <p class="excerpt">
      {{ product.excerpt }}
    </p>
    <p class="price">
      {{ product.price }} RM
    </p>
  </div>
  
  <div>
    <div class="merchant-info">
      <img type="image/svg+xml" class="merchant-image" src="assets/images/profile.svg" alt="{{ merchant.name }} Image">
      <div class="merchant-details">
        <p class="merchant-name"><strong>
          {{ merchant.name }}</strong>
        </p>
        <p class="merchant-location">
          {{ merchant.location }} - {{ merchant.rating }} Stars
        </p>
      </div>
    </div>
    <div class="actions">
      <a class="view-button" [routerLink]="['/products', product.slug]">
        View Product
      </a>
      <a class="delete-button" [href]="product.purchaseLink">
        Delete Product
      </a>
    </div>
  </div>

  
  
</div>