<label class="label">{{ label }}</label>
<div class="input-container">
  <div class="textarea-container"  *ngIf="type === 'textarea'; else otherThanTextArea" [formGroup]="currentFormGroup">
    <textarea 
        [placeholder]="placeholder" 
        [formControlName]="controlName"
        class="input-textarea"
      ></textarea> 
  </div>
</div>

  
<ng-template class="textarea-container" [formGroup]="currentFormGroup" #otherThanTextArea>
    <input 
      [type]="type" 
      [placeholder]="placeholder" 
      [formControlName]="controlName"
      class="input-others" 
    />
  </ng-template>
