<main class="background">
    <div class="h-screen p-2 mx-auto max-w-screen-2xl md:p-6 2xl:p-10">
      <!-- Breadcrumb Start -->
      <div class="flex flex-col gap-3 mb-6 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="font-bold text-white text-title-md md:visible">
          Register as Merchant
        </h2>

        <nav>
          <ol class="flex items-center px-5 py-2.5 text-center bg-white rounded-full whitespace-nowrap w-fit" aria-label="Breadcrumb">
            <li class="inline-flex items-center">
              <a href="/" class="flex items-center text-sm text-gray-900 hover:text-blue-600 focus:outline-none focus:text-blue-500">Home</a>
              <svg class="flex-shrink-0 w-4 h-4 mx-2 overflow-visible text-gray-400 dark:text-neutral-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
            </li>
            <li class="inline-flex items-center">
              <a class="inline-flex items-center text-sm font-semibold text-[#fc972e] truncate" href="/login" aria-current="page">Register</a>
            </li>
          </ol>
          
        </nav>
        
      </div>
      <!-- Breadcrumb End -->

      <!-- ====== Forms Section Start -->
      <div class="bg-transparent rounded-md lg:rounded-2xl shadow-default">
        <div class="flex flex-wrap items-center">

          <div class="w-full xl:w-1/2 bg-[#1a5a64] rounded-md lg:rounded-2xl">
            <div class="w-full p-4 sm:p-12.5 xl:p-17.5">
              
              <h2 class="mt-2.5 text-2xl font-bold text-white mb-2.5">
                Welcome to PromoTourism!
              </h2>

              <span class="mb-2.5 block font-medium text-[#fc972e]">Register Your Account as Merchant To Get Started</span>

              <form>
                  <div class="mb-4">
                    <label class="mb-2.5 block font-medium text-white">Name</label>
                    <div class="relative">
                      <input type="text" placeholder="Enter your full name"
                        class="w-full py-4 pl-6 pr-10 bg-transparent border rounded-lg outline-none border-stroke focus:border-primary focus-visible:shadow-none" />

                      <span class="absolute right-4 top-4">
                        <svg class="text-white fill-current" width="22" height="22" viewBox="0 0 22 22" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <g opacity="0.5">
                            <path
                              d="M11.0008 9.52185C13.5445 9.52185 15.607 7.5281 15.607 5.0531C15.607 2.5781 13.5445 0.584351 11.0008 0.584351C8.45703 0.584351 6.39453 2.5781 6.39453 5.0531C6.39453 7.5281 8.45703 9.52185 11.0008 9.52185ZM11.0008 2.1656C12.6852 2.1656 14.0602 3.47185 14.0602 5.08748C14.0602 6.7031 12.6852 8.00935 11.0008 8.00935C9.31641 8.00935 7.94141 6.7031 7.94141 5.08748C7.94141 3.47185 9.31641 2.1656 11.0008 2.1656Z"
                              fill="" />
                            <path
                              d="M13.2352 11.0687H8.76641C5.08828 11.0687 2.09766 14.0937 2.09766 17.7719V20.625C2.09766 21.0375 2.44141 21.4156 2.88828 21.4156C3.33516 21.4156 3.67891 21.0719 3.67891 20.625V17.7719C3.67891 14.9531 5.98203 12.6156 8.83516 12.6156H13.2695C16.0883 12.6156 18.4258 14.9187 18.4258 17.7719V20.625C18.4258 21.0375 18.7695 21.4156 19.2164 21.4156C19.6633 21.4156 20.007 21.0719 20.007 20.625V17.7719C19.9039 14.0937 16.9133 11.0687 13.2352 11.0687Z"
                              fill="" />
                          </g>
                        </svg>
                      </span>
                    </div>
                  </div>

                  <div class="mb-4">
                    <label class="mb-2.5 block font-medium text-white">Contact Number</label>
                    <div class="relative">
                      <input type="number" placeholder="Enter your Contact Number"
                        class="w-full py-4 pl-6 pr-10 bg-transparent border rounded-lg outline-none border-stroke focus:border-primary focus-visible:shadow-none" />

                      <span class="absolute right-4 top-4">
                        <svg class="text-white fill-current" width="22" height="22" viewBox="0 0 22 22" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <g opacity="0.5">
                            <path
                              d="M11.0008 9.52185C13.5445 9.52185 15.607 7.5281 15.607 5.0531C15.607 2.5781 13.5445 0.584351 11.0008 0.584351C8.45703 0.584351 6.39453 2.5781 6.39453 5.0531C6.39453 7.5281 8.45703 9.52185 11.0008 9.52185ZM11.0008 2.1656C12.6852 2.1656 14.0602 3.47185 14.0602 5.08748C14.0602 6.7031 12.6852 8.00935 11.0008 8.00935C9.31641 8.00935 7.94141 6.7031 7.94141 5.08748C7.94141 3.47185 9.31641 2.1656 11.0008 2.1656Z"
                              fill="" />
                            <path
                              d="M13.2352 11.0687H8.76641C5.08828 11.0687 2.09766 14.0937 2.09766 17.7719V20.625C2.09766 21.0375 2.44141 21.4156 2.88828 21.4156C3.33516 21.4156 3.67891 21.0719 3.67891 20.625V17.7719C3.67891 14.9531 5.98203 12.6156 8.83516 12.6156H13.2695C16.0883 12.6156 18.4258 14.9187 18.4258 17.7719V20.625C18.4258 21.0375 18.7695 21.4156 19.2164 21.4156C19.6633 21.4156 20.007 21.0719 20.007 20.625V17.7719C19.9039 14.0937 16.9133 11.0687 13.2352 11.0687Z"
                              fill="" />
                          </g>
                        </svg>
                      </span>
                    </div>
                  </div>

                  <div class="mb-4">
                    <label class="mb-2.5 block font-medium text-white">Email</label>
                    <div class="relative">
                      <input type="email" placeholder="Enter your email"
                        class="w-full py-4 pl-6 pr-10 bg-transparent border rounded-lg outline-none border-stroke focus:border-primary focus-visible:shadow-none" />

                      <span class="absolute right-4 top-4">
                        <svg class="text-white fill-current" width="22" height="22" viewBox="0 0 22 22" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <g opacity="0.5">
                            <path
                              d="M19.2516 3.30005H2.75156C1.58281 3.30005 0.585938 4.26255 0.585938 5.46567V16.6032C0.585938 17.7719 1.54844 18.7688 2.75156 18.7688H19.2516C20.4203 18.7688 21.4172 17.8063 21.4172 16.6032V5.4313C21.4172 4.26255 20.4203 3.30005 19.2516 3.30005ZM19.2516 4.84692C19.2859 4.84692 19.3203 4.84692 19.3547 4.84692L11.0016 10.2094L2.64844 4.84692C2.68281 4.84692 2.71719 4.84692 2.75156 4.84692H19.2516ZM19.2516 17.1532H2.75156C2.40781 17.1532 2.13281 16.8782 2.13281 16.5344V6.35942L10.1766 11.5157C10.4172 11.6875 10.6922 11.7563 10.9672 11.7563C11.2422 11.7563 11.5172 11.6875 11.7578 11.5157L19.8016 6.35942V16.5688C19.8703 16.9125 19.5953 17.1532 19.2516 17.1532Z"
                              fill="" />
                          </g>
                        </svg>
                      </span>
                    </div>
                  </div>

                  <div class="mb-4">
                    <label class="mb-2.5 block font-medium text-white">Your Company Brief Description</label>
                    <div class="relative">
                      <textarea type="text" placeholder="Enter your Company Description"
                        class="w-full px-6 py-4 bg-transparent border rounded-lg outline-none border-stroke focus:border-primary focus-visible:shadow-none">
                        </textarea>

                      
                    </div>
                  </div>
                  

                <div class="mb-5">
                  <input type="submit" value="Register Now"
                    class="w-full p-4 font-medium text-gray-900 transition border rounded-lg cursor-pointer border-primary bg-[#fc972e] hover:bg-opacity-90" />
                </div>

                <div class="mt-6 text-center">
                  <p class="font-medium text-white">
                    Register as User?
                    <a href="/Register" class="text-[#fc972e]">Click Here</a>
                  </p>
                </div>
              </form>

              
            </div>
          </div>
        </div>
      </div>
      <!-- ====== Forms Section End -->
      
    </div>
</main>
