.background{
    background-image: url('../../../assets/images/pexels-jeremy-bishop-2765871.jpg');
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

