<div class="breadcrumb-container" [ngStyle]="{ 'background-image': 'url(assets/images/' + backgroundUrl + ')' }">
  <div class="breadcrumb-content">
    
    <!-- Title -->
    <div class="breadcrumb-title">
      <h1>
        {{ headingText }}
      </h1>
    </div>
    <!-- End Title -->

    <div class="breadcrumb-subtitle">
      <p>{{ subheadingText }}</p>
    </div>

    <div class="breadcrumb-list">
      <ol class="breadcrumb-ol" aria-label="Breadcrumb">
        <li class="breadcrumb-li">
          <a href="/" class="breadcrumb-link">
            Home
          </a>
          <svg class="breadcrumb-separator" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
        </li>
        <li class="breadcrumb-li">
          <a class="breadcrumb-current" [href]="'/' + buttonUrl" aria-current="page">
            {{ buttonText }}
          </a>
        </li>
      </ol>
    </div>
    
  </div>
</div>