<div class="main-container">
    <h2 class="label">
      {{ namePage }}
    </h2>
  
    <nav>
      <ol class="breadcrumb-container" aria-label="Breadcrumb">
        <li>
          <a href="/" class="homeLink">Home</a>
          <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
        </li>
        <li>
          <a class="currentLink" [href]="link" aria-current="page">{{ namePage }}</a>
        </li>
      </ol>
    </nav>
  </div>