<!-- <div *ngIf="product.avaliable" class="card-container"> 



</div> -->



<div *ngIf="product.avaliable">
  <div class="image-container">
    <!-- Assuming the first image in the array is the primary image -->
    <img [src]="product.productImages[0]" [alt]="product.name" class="image">
  </div>
  <div class="content-container">
    <span class="category"><strong>{{ product.category }}</strong></span>
    <h3 class="title">{{ product.name }}</h3>
    <p class="excerpt">{{ product.excerpt }}</p>
    <p class="price">{{ product.price }} RM</p>
  </div>
  
  <div>
    <div class="merchant-info">
      <img class="merchant-image" src="assets/images/profile.svg" alt="{{ product.merchantName }} Image">
      <div class="merchant-details">
        <p class="merchant-name"><strong>{{ product.merchantName }}</strong></p>
        <p class="merchant-location">
          {{ product.companyRegionLocation }} - {{ product.rating }} Stars
        </p>
      </div>
    </div>
    <div class="actions">
      <a class="view-button" [routerLink]="['/products', product.slug]">View Details</a>
      <a class="purchase-button" >Purchase Now</a>
    </div>
  </div>
</div>