<style>
    .scroll-hidden::-webkit-scrollbar {
        height: 0px;
        background: transparent; /* make scrollbar transparent */
    }
  </style>
  
  <nav class="sticky top-0 z-50 w-screen text-gray-900 bg-white shadow-lg font-Lato">
    <div class="container px-8 mx-auto">
  
      <div class="flex items-center justify-between">
        <div class="px-3 py-3">
          <a href="#">  
            <!-- <img src="../assets/logo.png" class="h-20"> -->
            <span>PromoTourism</span>
          </a>
        </div>
  
        <div class="items-center hidden space-x-5 md:flex">
          <a class="navi-link" [routerLink]="['/home']">Home</a>
          <a class="navi-link" [routerLink]="['/explore']">Explore</a>
          <a class="navi-link" [routerLink]="['/merchant']">Merchants</a>
          <a class="navi-link" [routerLink]="['/help']">Help</a>
          <a class="navi-link" [routerLink]="['/about-us']">About Us</a>
          <a class="navi-link" [routerLink]="['/contact-us']">Contact Us</a>
        </div>
  
        <div class="items-center hidden space-x-1 md:flex">
          <a class="px-3 py-5 text-white">Login</a>
          <a class="px-3 py-3 text-green-200 transition duration-300 bg-green-500 rounded-full hover:bg-green-300 hover:text-green-600">Join Now!</a>
        </div>
  
        <div class="flex items-center md:hidden"> <!--mobile thing goes here-->
          <button class="mobile-menu-button" type="button" (click)="toggleNavbar()">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
          </div>
    </div>
    </div>
    <!-- Mobile Menu  -->
  
    <div class="hidden px-8 mobile-menu" [ngClass]="{'hidden': !showMenu, 'block': showMenu}">
      <div class="flex flex-wrap -mx-2 overflow-hidden">

        <div class="w-full px-2 my-2 overflow-hidden font-bold text-black bg-white rounded-3xl">
          <a class="block px-2 py-3 text-sm hover:text-green-500" [routerLink]="['/home']">Home</a>
          <a class="block px-2 py-3 text-sm hover:text-green-500" [routerLink]="['/resources']">Explore</a>
        </div>
      
        <div class="w-full px-2 my-5 overflow-hidden">
          <a class="px-3 py-5 text-white">Login</a>
          <a class="px-3 py-3 text-green-200 transition duration-300 bg-green-500 rounded-full hover:bg-green-300 hover:text-green-600">Join Now!</a>
        </div>
      
      </div>
           
    </div>
</nav>