<nav class="sticky top-0 z-50 w-screen text-gray-900 bg-white shadow-lg font-Lato">
    <div class="container px-8 mx-auto">
    
      <div class="flex items-center justify-between">
        <div class="px-3 py-3">
          <a href="/">
            <span class="font-bold text-[#fc972e]">Promo</span>
            <span class="font-bold text-[#1a5a64]">Tourism</span>
          </a>
        </div>
  
        <div class="items-center hidden space-x-5 md:flex">
          <a class="nav-links" href="/">Home</a>
          <a class="nav-links" href="/products">Products</a>
          <a class="nav-links" href="/merchants">Merchants</a>
          <a class="nav-links" href="/about">About Us</a>
          <a class="nav-links" >Help</a>
          <a class="nav-links" href="/contact">Contact Us</a>
        </div>
  
        <div class="items-center hidden space-x-1 md:flex">
          <a href="/login" class="px-3 py-5 text-[#fc972e] font-bold">Log In</a>
          <a href="/register" class="px-3 py-3 font-bold text-green-200 transition duration-300 bg-green-500 rounded-full hover:bg-green-300 hover:text-green-600">Sign Up</a>
        </div>
  
        <div class="flex items-center md:hidden">
          <!-- mobile thing goes here -->
          <button class="mobile-menu-button" type="button" (click)="toggleNavbar()">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  
    <!-- Mobile Menu  -->
    <div class="hidden px-8 py-2 mobile-menu" [ngClass]="{'hidden': !showMenu, 'block': showMenu}">
      <div class="flex flex-wrap -mx-2 overflow-hidden">
        <div class="w-full px-2 overflow-hidden font-bold text-white bg-[#1a5a64] rounded-3xl">
          <a class="nav-links-mobile" href="/">Home</a>
          <a class="nav-links-mobile" href="/products">Products</a>
          <a class="nav-links-mobile" href="/merchants">Merchants</a>
          <a class="nav-links-mobile" href="/about">About Us</a>
          <a class="nav-links-mobile" >Help</a>
          <a class="nav-links-mobile" href="/contact">Contact Us</a>
        </div>
  
        <div class="w-full px-2 my-5 overflow-hidden">
          <a href="/login" class="px-3 py-5 text-[#fc972e] font-bold">Log In</a>
          <a href="/register" class="px-3 py-5 font-bold text-green-200 transition duration-300 bg-green-500 rounded-full hover:bg-green-300 hover:text-green-600">Sign Up</a>
        </div>
      </div>
    </div>
  </nav>